_
*/__pycache__
.idea
backend/.idea
backend/env/*
backend/venv
backend/data
backend/rest_image_uploader/rest_image_uploader/__pycache__/*
backend/rest_image_uploader/static/*
backend/rest_image_uploader/media/*
test.txt
frontend/.idea
frontend/image-uploader/node_modules
venv
migrations